# Virtual env
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter / docs / archives (biasanya besar)
.ipynb_checkpoints/
*.ipynb
*.pdf
*.zip
*.rar
*.7z

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node (kalau ada)
node_modules/
dist/
build/
out/

# Model (kalau suatu saat tersimpan)
*.joblib
*.pkl

# Logs / env
*.log
.env
